<%- include("./partials/header.ejs"); -%>
<body>
  <div class="body">
    <h1>Compose</h1>
    <form action="/compose" method="post">
      <label for="compose-title">Title</label>
      <br />
      <input type="text" name="title" id="compose-title" />
      <br />
      <label for="compose-post">Post</label>
      <br />
      <textarea name="post" id="compose-post" cols="120" rows="10"></textarea>
      <br />
      <button type="submit" name="button">Submit</button>
    </form>
  </div>
</body>
<%- include("./partials/footer.ejs"); -%>
